torch==2.2.0
torchvision==0.17.0
transformers==4.40.1
tokenizers==0.19.1
timm==0.9.10
peft==0.11.1
accelerate
bitsandbytes
h5py
huggingface_hub==0.25.0
ipywidgets
apache-beam
mlcroissant
draccus
wandb
packaging
ninja
tensorflow
tensorflow-datasets
